body
{
    background-size: cover;
}
#note
{
    color: black;
    background-color: wheat;
    font-size: 15px;
margin: 5px;
    width: 50%;
    box-shadow: 2px 5px 3px rgb(80, 134, 147);
    margin-left: 25%;
}
.header
{
    width: 100%;
    color: white;
    font-size: 30px;
}

canvas
{
background-color: aquamarine;
border-color: aqua;
border-width: 20px;
border-radius: 15;
border-style: groove;
}